:javascript
  $(function() {
    $( "#sortable" ).sortable({
      revert: true
    });
    $( "#draggable" ).draggable({
      connectToSortable: "#sortable",
      helper: "clone",
      revert: "invalid"
    });
    $( "ul, li" ).disableSelection();
  });


#chapters
  %ul
    %li{id: "draggable", class: "ui-state-highlight"}
      Drag me down

  %ul{id: "sortable"}
    %li{class: "ui-state-default"}
      Item 1
    %li{class: "ui-state-default"}
      Item 2
    -#<li class="ui-state-default">Item 3</li>
    -#<li class="ui-state-default">Item 4</li>
    -#<li class="ui-state-default">Item 5</li>
