#sidebar-wrapper
  %ul.sidebar-nav
    %li.sidebar-brand
      %a{ href: "/"}
        %strong
          Home
    - if user_signed_in?
      %li
        %a{ href: "/users/edit"}
          Edit profile
      %li
        %a{ href: "/records/user/#{current_user.id}"}
          My books