.col-lg-12
  - model_class = Record
  .page-header
    %h1=t '.title', :default => [:'helpers.titles.edit', 'Edit %{model}'], :model => model_class.model_name.human.titleize
  = render :partial => "form"
= content_for :chapters do
  = render "partials/chapters", :chapters => @chapters
.simple-pagination

:javascript
  $(function() {
    var size = parseInt("#{@chapters.size}");
    $(".simple-pagination").pagination({
      items: size,
      itemsOnPage: 1,
      cssStyle: 'compact-theme'
    });
  });