- model_class = Record
.page-header
  %h1
    Available books and posts
= render partial: 'search'
.row
  = render partial: 'record_list'

:coffeescript
  $ ->
  $('#record_search').typeahead
    name: "record"
    remote: "/records/autocomplete?query=%QUERY"