- model_class = Record
.page-header
  %h1
    Your books and posts
.row
  = render partial: 'record_list'
  %br
  .col-lg-12{style: 'margin-left: 1.5%'}
    = link_to t('.new', :default => t("helpers.links.new")), new_record_path, :class => "btn btn-primary btn-md", style: 'width: 130px'
