@import url('http://fonts.googleapis.com/css?family=Open+Sans');

#head {
  height: 60px;
  background-color: RGB(156, 30, 28);
  color: white;

  #logo {
    float: left;
  }

  #icon {
    width: 60px;
    height: 60px;
  }

  #title {
    display: inline-block;
    width: 50%;
    padding-left: 5%;
    h2{
      font-family: "Open Sans Extrabold";
      font-size: 20px;
      color: white;
    }
  }

  #sign_in_sign_up {
    font-family: "Open Sans Semibold";
    display: inline-block;
    float: right;
    height: 60px;
    width: 30%;

    .btn-group{
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
    }

    span{
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      .btn.btn-default{
        margin-left: 10px;
      }
    }
  }
}