html{
  position: relative;
}
#user_input_form{
    width: 40%;
    padding-bottom: 3%;
    padding-left: 5%;
}
#all_content{
  overflow: hidden;
  position: relative;
  width: 100%;
  min-height: 100vh;
  #specific_content{
    border-radius: 5px;
    background-color: #E2E2E2;
    margin-left: 13.8%;
    margin-top: 5px;
    min-height: 100vh;
    display: inline-block;
    float: left;
    width: 70%;
    height: 100%;
    #page{
      margin-left: 2%;
      margin-top: 1%;
      width: 98%;
      height: 100%;
    }
  }
}
#comments-line{
  background-color: #FFFFFF;
  border-radius: 3px;
  width: 98%;
}
#new-anchor {
  display: none;
  width: 25px;
  height: 25px;
  color: #660003;
  position: absolute;
}
#bookmark-tip {
  display: none;
  position: absolute;
}
#new-anchor.glyphicon-plus {
  font-size: 1.5em;
}
.btn.btn-primary{
  background-color: RGB(156, 30, 28);
  border-color: RGB(156, 30, 28);
}

ul.nav li a, ul.nav li a:visited {
  color: RGB(174, 51, 60)
}

ul.nav li a:hover, ul.nav li a:active {
  color: RGB(102, 0, 3)
}
.footer{
  font-family: "Open Sans Light";
  position: relative;
  bottom: 0;
  width: 100%;
  display: inline-block;
  /* Set the fixed height of the footer here */
  height: 40px;
  text-align: center;
  line-height: 40px;
}