#body{
    background-color: floralwhite;
}
#sign_up_form{
    width: 25%;
    padding-bottom: 3%;
    padding-left: 5%;
}
.btn.btn-primary.btn-md{
  background-color: RGB(156, 30, 28);
  border-color: RGB(156, 30, 28);
}