#body{
    background-color: floralwhite;
}
#sign_up_form{
    width: 40%;
    padding-bottom: 3%;
    padding-left: 5%;
}
#all_content{
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 99%;
  #specific_content{
    border-radius: 5px;
    background-color: #E2E2E2;
    margin-left: 13.8%;
    margin-top: 5px;
    display: inline-block;
    float: left;
    width: 70%;
    #page{
      margin-left: 2%;
      margin-top: 1%;
      width: 98%;
    }
  }
}
.btn.btn-primary.btn-md{
  background-color: RGB(156, 30, 28);
  border-color: RGB(156, 30, 28);
}